<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
        <link rel="stylesheet" href="/css/style.css">
        {{!-- Proper viewport is set for responsivity --}}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>{{error}}</p>
        </div>
        
        {{>footer}}

    </body>
</html>