<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site is by Temiloluwa Samuel. It uses data from openweather.org and mapbox.com</p>
            <img class="portrait" src="./img/stemitom.jpg" alt="" srcset="">
        </div>    
        {{>footer}}
    </body>
</html>