/* Made changes to the background color as well as default text color */
body{
    background-color: #1f1f1f;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* Did Proper FlexBox for better alignment and direction */
.main-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* Set footer proper positon and width */
footer{
    color: #fff;
    position: absolute;
    left: 0;
    bottom:0;
    width:100%;
    border-top: 1px solid #fff;
    margin-top : 16px;
    padding: 16px 0;
}

header{
    margin-top: 16px;
    margin-bottom: 48px;
    text-align: center;
}
/* Set text shadow to give heading tag a glow effect */
h1{
    font-size: 64px;
    margin-bottom: 16px;
    text-shadow: 0px 0px 3px #fff;
}

header a{
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}
/* Set border radius and shadow around dev's picture for better feel */
.portrait {
    width: 270px;
    margin:0 auto;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 1px #fff;
}
/* Targeted classes are made to align to center */
div.form-group,p{
    margin:10px auto;
    text-align: center;
}
/* Text Input form has background color set to transparent, typed text color is set to white, border and shadows are set for glow */
input{
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 8px;
    transition: 0.5s;
    color:#fff;
    background-color:transparent;
}
input:hover{
    box-shadow:0px 0px 3px #fff;
}
input:focus{
    border-color: #fff;
}
/* Button is styled to toggle black in white dependent on hover event */
button{
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    padding: 8px;
    transition: 0.5s;
}
button:hover{
    background-color:transparent;
    color:#fff;
    border-color: #fff;
    box-shadow:0px 0px 3px #fff;
}